* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.title {
  margin: 40px auto 30px;
  text-align: center;
}
.title p {
  margin-top: 15px;
}
.flip-card {
  width: 280px;
  height: 350px;
  margin: auto;
  background-position: center;
  background-color: antiquewhite;
}
.flip-card-front img {
  width: 300px;
  padding-top: 30px;
}
